@model NguyễnMinhHiệp_project2_2210900100.Models.SanPham

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
}

<h2>Chi Tiết Sản Phẩm</h2>

<div>
    <h4>Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.TenSanPham)</dt>
        <dd>@Html.DisplayFor(model => model.TenSanPham)</dd>

        <dt>@Html.DisplayNameFor(model => model.Gia)</dt>
        <dd>@Html.DisplayFor(model => model.Gia)</dd>

        <dt>@Html.DisplayNameFor(model => model.SoLuong)</dt>
        <dd>@Html.DisplayFor(model => model.SoLuong)</dd>
    </dl>

    @Html.ActionLink("Chỉnh sửa", "Edit", "NMH_SanPhams", new { id = Model.MaSanPham }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Xóa", "Delete", "NMH_SanPhams", new { id = Model.MaSanPham }, new { @class = "btn btn-danger", onclick = "return confirm('Bạn có chắc chắn muốn xóa?');" }) |
    @Html.ActionLink("Trở về danh sách", "Index", "NMH_SanPhams", null, new { @class = "btn btn-secondary" })
</div>
